@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Sankofa+Display&display=swap");

:root{
  --image-radius: 14px;
  --search-radius: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
}

img {
  width: 400px;
}

.sankofa-display-regular {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#load,
.heroes-covers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: loading 1s infinite alternate linear;
}

.loader::before {
  content: attr(data-text);
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes loading {
  100% {
    background-position: left;
  }
}

.heroes-covers {
  animation-name: cover-anim;
  animation-duration: 5s;
}

@keyframes cover-anim {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.heroes-covers img {
  position: relative;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.heroes-covers img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  z-index: 2;
}

.cover-wrap {
  display: inline-block;
  position: relative;
  transition: all 0.5s ease-in;
  color: #00000000;
}

.cover-wrap:first-child img{
  border-top-left-radius: var(--image-radius);
  border-bottom-left-radius: var(--image-radius);
}

.cover-wrap:last-child img{
  border-top-right-radius: var(--image-radius);
  border-bottom-right-radius: var(--image-radius);
}

.cover-wrap:hover {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.5);
}

.cover-wrap::after {
  position: absolute;
  content: attr(data-text);
  z-index: 3;
  right: 200px;
  top: 350px;
  font-size: 1.7rem;
  transform: translateX(50%);
}

#description {
  text-align: justify;
  margin: 25px 0;
  color: grey;
}

#comics-list {
  width: 100%;
}
td img {
  width: 200px;
}

.td-name {
  font-size: 1.5rem;
  color: gray !important;
}
.td-desc {
  font-size: 1.3rem;
  color: gray !important;
}

#loading-comic,
#loading-series,
#loading-events,
#loading-stories {
  width: 90%;
  margin: auto;
}

table caption {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.search {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: var(--search-radius);
}

.search input {
  width: 500px;
  font-size: 2rem;
  margin-left: 10px;
}
.input-and-icon{
  display: flex;
  justify-content: center;
}

.fa-magnifying-glass{
  padding: 10px 0;
  margin-left: 20px;
  font-size: 1.75rem;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: white;
}
input[type="text"]:focus {
  outline: none;
  border: none;
}
input::placeholder {
  color: white;
  opacity: 0.5;
}

.button {
  background-color: rgb(104, 104, 104);
  border-top-right-radius: var(--search-radius);
  border-bottom-right-radius: var(--search-radius);
  border: none;
  color: grey;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  margin: 5px 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover {
  color: #000;
}
